@keyframes myAnimation{
  0% {background-color: rgb(49, 49, 49);}
  25% {background-color: rgb(41, 41, 41);}
  50% {background-color: rgb(75, 75, 75);}
  75% {background-color: rgb(86, 86, 86);}
  100% {background-color: rgb(49,49,49);}   
 }
body {
   background-color: rgb(0, 0, 0);
   margin:70px;
   animation-name:myAnimation;
   animation-duration: 10s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
 }
 main {
  margin-left:30px;
  margin-right:30px;
 }
h1{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(197, 9, 9);
   font-size: clamp(5rem, 10vw,8rem);
   text-shadow: 10px 10px 10px rgb(3, 3, 3);
   text-align: center;
   position: relative;
   top: -40px;
}


.navbar ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align: center;
}
.navbar a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
  font-weight: 1000;
  text-decoration: none;
  padding: 10px;
  font-size: clamp(0rem, 2vw, 1rem);
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsla(0, 84%, 26%, 0.66);
  animation-fill-mode: forwards;
  border-radius: 50px;
  border-left-width: 50px;
}
 .navbar li{
  float: center;
  border:2px solid rgb(163, 163, 163);
  border-radius: 50px;
  margin-bottom: 5px;
  border-width: 2px;
  border-collapse: collapse;
 }

 
h2 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
   color: rgb(255, 255, 255);
   font-size: clamp(0.5rem, 3vw, 2rem);
   font-weight: bold;
   text-shadow: 5px 5px 5px rgb(3, 3, 3);
   text-align: center;
   position: relative;
   top: -92px;
}
h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(213, 219, 214);
   text-align: center;
   font-size: clamp(0.8rem, 2vw, 1.6rem);
   font-weight: 300;
   position: relative;
   margin-top: 70px;
   margin-right: min(10px, 20%);
   margin-right: max(0, 10%);
}
img {
   display: block;
   width: min(100em,100%);
   height: min (100em,10%);
   margin: 80px auto;
   border-radius: 10px;}
