h1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(130, 49, 49);
}

<img src="Images\MOTOGP (1).jpg" alt="MotoGP" width="1300" height="600"
    style="display: block; margin: 60px auto; border-radius: 20px;">