 
body {
   background-color: rgb(0, 0, 0);
   margin:40px;
 }
 main {
  margin-left:20px;
  margin-right:20px;
 }
h1{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(94, 183, 101);
   font-size: clamp(6rem, 15vw,12rem);
   font-weight: bold;
   text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(44, 67, 40);
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align: center;
}
.navbar a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(92, 142, 96);
}
 .navbar li{
  float:left;
 }
h2 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
   color: rgb(255, 255, 255);
   font-size: clamp(1rem, 5vw, 4rem);
   font-weight: bold;
   text-align: center;
   position: relative;
   top: -82px;
}
h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(213, 219, 214);
   text-align: center;
   font-size: 20px;
}
img {
   display: block;
   width: min(50em,95%);
   height: min (50em,95%);
   margin: 80px auto;
   border-radius: 20px;
