 
body {
   background-color: rgb(0, 0, 0);
 }
h1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(255, 255, 255);
   font-size: 70px;
   font-weight: bold;
   text-align: center;
}
p1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(238, 227, 129);
   text-align: center;
   font-size: 20px;
}
img {
   display: block;
   margin: 60px auto;
   border-radius: 20px;
}