
body{
   margin: 30px;
   min-height: 100vh;
   background: linear-gradient(rgb(0, 0, 0), rgb(65, 32, 32));
}

/* body {
   margin:70px;
   animation-name:myAnimation;
   animation-duration: 10s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
 } */

/* @keyframes myAnimation{
  0% {background-color: rgb(49, 49, 49);}
  25% {background-color: rgb(41, 41, 41);}
  50% {background-color: rgb(75, 75, 75);}
  75% {background-color: rgb(86, 86, 86);}
  100% {background-color: rgb(49,49,49);}   
 } */

 main {
  margin-left:30px;
  margin-right:30px;
 }


.navbar {
   margin-top:0%;
   background: rgba(108, 108, 108, 0.353);
   backdrop-filter: blur(20px);
   padding:1px;
   position:fixed;
   width:80%;
   left:50%;
   transform:translateX(-50%);
   top:2rem;
   border-radius: 30px;
   border: 1px solid rgba(214, 214, 214, 0.5);
   box-shadow:0 6px 6px rgba(0, 0, 0, 0.566);
}

ul {
      list-style-type: none;
    display: flex;
    justify-content: center;
    gap:8rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
    font-weight: 300;
    position: relative;
    padding: 5px;
    transition: color 0.3s ease;
}

a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(237, 0, 0);
    bottom:0;
    left: 50%;
    transition: all 0.3s ease;
}

a:hover::after{
    width: 100%;
    left: 0;
}



/* .navbar ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align: center;
}

.navbar a:hover{
  background-color: hsla(0, 84%, 26%, 0.66);
  animation-fill-mode: forwards;
  border-radius: 50px;
  border-left-width: 50px;
}
 .navbar li{
  float: center;
  border:2px solid rgb(163, 163, 163);
  border-radius: 50px;
  margin-bottom: 5px;
  border-width: 2px;
  border-collapse: collapse;
 } */

 h1{
 background: url(images/Imageone.jpg);
 
 -webkit-background-clip: text;
 background-clip:text;
 background-size:contain;
   color: transparent;
   font-size: clamp(5rem, 20vw,12rem);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   position: relative;
   top:4rem;
}

h2 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
   color: rgb(255, 255, 255);
   font-size: clamp(0.5rem, 3vw, 3rem);
   font-weight: bold;
   text-shadow: 5px 5px 5px rgb(3, 3, 3);
   text-align: center;
   position: relative;
   text-shadow: 0 0 10px rgb(227, 2, 2);
}
h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(213, 219, 214);
   text-align: center;
   font-size: clamp(0.8rem, 2vw, 1.6rem);
   font-weight: 300;
   position: relative;
   margin-top: 80px;
   margin-right: min(10px, 20%);
   margin-right: max(0, 10%);
}
img {
   display: block;
   width: min(100em,100%);
   height: min (100em,10%);
   margin: 80px auto;
   border-radius: 10px;}

.img:hover{
   anim
   display:block;
    width: min(100em,100%);
   height: min (100em,10%);
}

